.card-container {
  border: 1px solid #d40202;
  width: 17.188rem;
  height: 3.75rem;
  cursor: pointer;
  background-color: white;
  border-radius: 0.375rem;
  font-weight: 600;
}

.card-container:hover {
  background-color: #d40202;
  color: white;
}
