.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-card {
  margin: 0.5rem 0;
}

@media only screen and (min-width: 1200px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
