* {
  margin: 0;
  padding: 0;
}

.main-container {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  background-color: white;
}

.main-title {
  text-align: center;
  font-size: 1rem;
  padding: 0.75rem 0;
  position: sticky;
  top: 0;
  background-color: #d40202;
  color: white;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ff8e8e;
  border-radius: 1.25rem;
  border: 0.375rem solid transparent;
}
