.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  z-index: 1;
  width: 100%;
  height: 98%;
  background: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  position: relative;
  animation: animate 0.3s;
  overflow-y: auto;
}

.modal-first-content {
  display: flex;
  background-color: #d40202;
  border-radius: 0.125rem;
  padding: 0.75rem;
  font-size: 0.75rem;
  color: white;
}

.modal button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem 0.75rem;
  background: white;
  color: #d40202;
  font-weight: bold;
  border: 1px solid #d40202;
  outline: none;
  border-radius: 0.125rem;
  cursor: pointer;
}

.modal button:hover {
  background-color: lightgray;
}

.poke-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poke-image img {
  height: 8rem;
  width: 8rem;
}

.poke-main-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.poke-name {
  text-transform: capitalize;
}

.modal-second-content {
  font-size: 0.5rem;
  font-weight: normal;
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.title {
  font-weight: 800;
  text-transform: uppercase;
  color: #d40202;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}

.info {
  font-size: 0.75rem;
  margin: 0.15rem 0;
}

.abilities-container {
  grid-column: 1 / span 3;
  margin-top: 0.75rem;
}

.abilities-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (min-width: 1200px) {
  .modal {
    width: 40rem;
    max-height: 28rem;
  }

  .modal-second-content {
    grid-template-columns: repeat(5, 1fr);
  }

  .abilities-container {
    grid-column: 4 / span 2;
    margin-top: 0;
  }
}
